.git
.github
.env
.env.*
!.env.example
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
e_commerce_chatbot.egg-info
venv
env
data/
notebook/
scripts/
test.py
key.json
docker-compose.yml
docker-compose.override.yml
README.md
.gitignore
